<div class="row">
  <ul>
    <li class="large-12 columns page-title">My Dashboard</li>
    <li class="large-12 columns">
      <h3>My Competitions</h3>
      <dl class="sub-nav">
        <dd ng-repeat="competition in filteredCompetitions" class="{{$index == selectedIndex && 'active' || ''}}"><a ng-click="renderCharts($index)">{{competition.name}}</a></dd>
      </ul>
    </li>
    <li class="large-12 columns" ng-show="selectedIndex != -1">
      <h5>Age Distribution</h5>
      <canvas id="ageCanvas" class="chart" height="450" width="600"></canvas>

      <h5>Gender Distribution</h5>
      <canvas id="genderCanvas" class="chart" height="450" width="600"></canvas>

      <h5>Location Distribution</h5>
      <canvas id="locationCanvas" class="chart" height="450" width="600"></canvas>
    </li>
  </ul>
</div>
